@media screen and (max-width: 990px) {
	nav {
		width: 15vw;
		min-width: 90px;
	}
	nav ul {
		text-align: center;
		margin-left: 0px;
	}
	nav ul li {
		display: hidden;
	}
	nav ul li em {
		display: none;
	}
	nav ul li a i {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		display: inline-block;
	}
	.capas .capa .contenido {
		left: 20%;
		width: 80%;
	}
	.contenido-1 {
		text-align: center;
		padding: 50px;
	}
	.contenido-1 .img-autor img {
		max-width: 195px;
		float: none;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.contenido-2 .fila .descripcion,
	.contenido-2 .fila-inver .descripcion {
		padding: 1em 1em;
		text-align: left;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 26px;
	}
	.contenido-3 .col-galeria {
		width: 49%;
		max-width: 49%;
	}
	.contenido-4 #mapa {
		padding: 30px 30px 30px 30px;
	}
}

@media screen and (max-width: 749px) {
	h1 {
		font-size: 2.25em;
	}
	h2 {
		font-size: 1.75em;
	}
	h3 {
		font-size: 1em;
	}
	nav {
		width: 15vw;
		min-width: 90px;
	}
	nav ul {
		text-align: center;
		margin-left: 0px;
	}
	nav ul li {
		display: hidden;
	}
	nav ul li em {
		display: none;
	}
	nav ul li a i {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		display: inline-block;
	}
	.contenido-1 {
		padding: 30px 5px;
	}
	.contenido-1 .btn-principal {
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.contenido-2 .fila,
	.contendio-2 .fila-inver {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
	.contenido-2 .fila .descripcion,
	.contenido-2 .fila .img-desc,
	.contenido-2 .fila-inver .descripcion,
	.contenido-2 .fila-inver .img-desc {
		height: auto;
		max-height: 35rem;
		max-width: 100%;
		overflow: hidden;
	}
	.contenido-2 .contenido-seccion {
		margin-bottom: 1rem;
	}
	.contenido-3 .col-galeria {
		width: 99%;
		max-width: 99%;
	}
	.contenido-4 .objeto .effecto-hover h2 {
		font-size: 15px;
	}
	.contenido-4 #mapa {
		padding: 15px 15px 15px 15px;
	}
	footer .contenido {
		left: 15%;
		width: 70%;
		max-width: 80%;
	}
}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1em;
	}
	nav {
		min-width: auto;
	}
	nav ul {
		margin-top: 30px;
	}
	nav ul li {
		margin: 10px 0px;
	}
	nav a {
		padding: 15px 10px;
	}
	.capas .capa .contenido {
		left: 15%;
		width: 85%;
	}
}