:root {
    --transp: rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes relleno {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}

@keyframes relleno {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}

@-webkit-keyframes rellenoColor {
    0% {
        color: #fff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #333;
    }
}

@keyframes rellenoColor {
    0% {
        color: #fff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #333;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    font-size: 100%;
    color: #fff;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

nav {
    top: 10vh;
    bottom: 10vh;
    text-align: center;
    background: var(--transp);
    position: fixed;
    z-index: 100;
    height: 80vh;
    left: 0;
    width: 15%;
    font-weight: 300;
    font-size: 1rem;
    min-width: 210px;
    text-transform: uppercase;
}

nav em {
    font-style: normal;
    margin-left: 5px;
    font-size: 14px;
}

nav ul li a i {
    width: 20px;
}

nav ul li a {
    font-size: 18px;
}

nav ul {
    margin-top: 15vh;
    text-align: left;
    margin-left: 20px;
    list-style-type: none;
    height: 48vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

nav ul li {
    margin: 25px 0px;
}

nav a,
nav a:visited,
nav a:active {
    color: #fff;
}

nav a {
    text-decoration: none !important;
    font-size: 14px;
    letter-spacing: 0.5px;
    -webkit-transition: color 1s, background 1s;
    transition: color 1s, background 1s;
    padding: 20px 30px;
    position: relative;
    z-index: 0;
}

nav a.active {
    background-color: #fff;
    color: #232323;
}

nav a::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

nav a:hover {
    text-decoration: none;
    -webkit-animation: rellenoColor 0.45s forwards ease-in-out;
    animation: rellenoColor 0.45s forwards ease-in-out;
}

nav a:hover::before {
    -webkit-animation: relleno 0.45s forwards ease-in-out;
    animation: relleno 0.45s forwards ease-in-out;
    opacity: 1;
}

.capas {
    width: 500vw;
    height: 100vh;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.capas .capa {
    height: 100vh;
    width: 100vw;
    float: left;
    text-align: center;
    background-size: cover;
}

.capas .capa .contenido {
    overflow-y: scroll;
    position: relative;
    width: 70%;
    height: 80%;
    left: 30%;
    top: 10%;
    bottom: 10%;
    background: var(--transp);
}

.contenido::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

.contenido::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.2);
}

.capas .capa:nth-child(1) {
    background-image: url(../img/fondos/fondo1.JPG);
}

.capas .capa:nth-child(2) {
    background-image: url(../img/fondos/fondo2.JPG);
}

.capas .capa:nth-child(3) {
    background-image: url(../img/fondos/fondo3.JPG);
}

.capas .capa:nth-child(4) {
    background-image: url(../img/fondos/fondo4.JPG);
}

.capas .capa img {
    width: 100%;
    vertical-align: top;
}

footer .contenido {
    clear: both;
    left: 30%;
    width: 40%;
    max-width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
}

footer .contenido p {
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
}

footer .contenido p a {
    color: #aaa;
    text-decoration: none;
}